
.dog-row {
  display: flex;
  margin-top: 64px;
}

.create-dog-btn {
  text-decoration: none;
  color: white;
  font-size: 20px;
  background-color: #849cb6;
  text-align: center;
  border-radius: 8px;
  padding: 8px;
  border: 2px solid #25394f;
}

.delete-dog-btn {
  text-decoration: none;
  color: white;
  font-size: 20px;
  background-color: #849cb6;
  text-align: center;
  border-radius: 8px;
  padding: 8px;
  border: 2px solid #25394f;
  margin-top: 16px;
  }
