.new-root {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin-left: 12px;
}

.new-dog {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin-left: 12px;
}

.form-inputs {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin-left: 12px;
}

.form-control {
  max-width: 600px;
  margin-left: 12px;
}
