.banner {
  height: 100vh;
  width: 100vw;
  display:flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 32px;
  position: relative;
}

.banner-photo {
  position: absolute;
  height: 80vh;
  z-index: -1;
  border-radius: 12px;
  left: 50%;
  transform: translateX(-50%);
  top: 32px;
}

.content-row {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 24px;
  border-radius: 16px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.5);
}

.slogan {
  text-shadow: 2px 2px white;
  font-size: 72px;
  line-height: 160%;
}

.slogan-btn {
  text-decoration: none;
  color: white;
  font-size: 24px;
  background-color: #849cb6;
  text-align: center;
  border-radius: 8px;
  padding: 16px;
  border: 3px solid #25394f;
}

.animate {
  position: absolute;
  animation: moveX 16s infinite, moveY 0.5s infinite;
  font-size: 20px;
}

@keyframes moveX {
  0% {
    left: -1%
  }
  100% {
    left: 101%
  }
}

@keyframes moveY {
  0% {
    top: 89%
  }
  50% {
    top: 91%
  }
  100% {
    top: 89%
  }
}
