<h1>Dogs#index</h1>
<div class="container">
  <div class="row">
    <div class="col-8">
      <% @dogs.each do |dog| %>
        <%= dog %>
      <% end %>
    </div>
    <div class="col-4">
      <%= link_to "Add a new dog", new_dog_path %>
    </div>
  </div>
</div>
