<div class="banner">
  <div class="content-row">
    <h1 class="slogan">Find dogs<br>to hang out on <br><strong>Woof Woof!</strong></h1>
    <%= link_to raw("Find your buddy <i class='fa-solid fa-dog'></i>"), user_signed_in? ? "/dogs" : "/users/sign_up", class: "slogan-btn" %>
  </div>
  <%= image_tag "uni_fuji.png", class: "banner-photo" %>

  <i class="fa-solid fa-dog animate"></i>
</div>
