<div class="mt-3">
  <div class="container">
    <h1>My Dashboard</h1>
    <div class="row">
      <div class="col-6">
        <h3>My Dogs</h3>
        <% current_user.dogs.each do |dog| %>
          <%= dog.name %>
        <% end %>
      </div>
      <div class="col-6">
        <h3>My Bookings</h3>
        <% current_user.bookings.each do |booking| %>
          <p><%= booking.start_date %></p>
          <p><%= booking.end_date %></p>
          <p><%= link_to "Delete", booking_path(booking), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "delete-booking-btn" %></p>
        <% end %>
      </div>
    </div>
  </div>
</div>
