
.create-booking-btn {
  text-decoration: none;
  color: white;
  font-size: 20px;
  background-color: #849cb6;
  text-align: center;
  border-radius: 4px;
  padding: 4px 24px;
  border: 2px solid #25394f;
}

.delete-dog-btn {
  text-decoration: none;
  color: white;
  font-size: 20px;
  background-color: red;
  text-align: center;
  border-radius: 4px;
  padding: 6px 8px;
  border: 2px solid rgb(148, 13, 13);
  margin-top: 16px;
  }

.slogan-btn {
  text-decoration: none;
  color: white;
  font-size: 24px;
  background-color: #849cb6;
  text-align: center;
  border-radius: 4px;
  padding: 16px;
  border: 2px solid #25394f;
}

.submit-btn {
  text-decoration: none;
  color: white;
  font-size: 16px;
  background-color: #849cb6;
  text-align: center;
  border-radius: 4px;
  padding: 4px 8px;
  border: 2px solid #25394f;
}

.update-btn {
  text-decoration: none;
  color: white;
  font-size: 20px;
  background-color: #849cb6;
  text-align: center;
  border-radius: 4px;
  padding: 4px 8px;
  border: 2px solid #25394f;
}

.delete-btn {
  text-decoration: none;
  color: white;
  font-size: 20px;
  background-color: red;
  text-align: center;
  border-radius: 4px;
  padding: 6px 8px;
  border: 2px solid rgb(148, 13, 13);
}

.search-btn {
  text-decoration: none;
  color: white;
  font-size: 16px;
  background-color: #849cb6;
  text-align: center;
  border-radius: 4px;
  padding: 4px 8px;
  border: 2px solid #25394f;
}

.create-dog-btn {
  text-decoration: none;
  color: white;
  font-size: 16px;
  background-color: #849cb6;
  text-align: center;
  border-radius: 4px;
  padding: 4px 8px;
  border: 2px solid #25394f;
}
