
.container{
  margin-top: 20px;
}

.browsing-dog-card {
  background-size: cover;
  background-position: center;
  height: 320px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 8px;
  margin-bottom: 4px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  transition: 0.2s ease;
}

.dog-display {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
}

.browsing-dog-card:hover {
  transform: scale(1.03);
}

.dog-card {
  width: 300px;
  // margin-right: 30px;
  // margin-left: 30px;
  border-radius: 8px;
  // flex: 1 1 auto;
  // padding: 1rem 1rem;
}

.info-dog-card{
  height: 100px;
  width: 300px;
  // margin-right: 30px;
  // margin-left: 30px;
  border-radius: 8px;
  flex: 1 1 auto;
  padding: 1rem 1rem;
  background-color: #DDDDDD;
}
