.container {
  margin-top: 20px;
}

.browsing-dog-card {
  background-size: cover;
  background-position: center;
  height: 320px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.dog-display {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
}

.dog-card {
  width: 300px;
  border-radius: 8px;
  transition: 0.2s ease;
}

.dog-card:hover {
  transform: scale(1.03);
}

.carousel-dog-card {
  width: 600px;
  margin-right: 40px;
  margin-left: 40px;
}

.info-dog-card {
  height: 100px;
  width: 300px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  flex: 1 1 auto;
  padding: 1rem 1rem;
  background-color: #DDDDDD;
}
