.navbar-lewagon {
  justify-content: space-between;
  background: #849cb6;
  border-bottom: 3px solid #25394f;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.logo img {
  width: 40px;
}

.navbar-link {
  color: white;
}

.navbar-link:hover {
  color: #dadada
}
